<%- include('../partials/header') %>
<body>
    <nav>
        <span>
          <a href="/memes">Meme Archive</a>&nbsp;&nbsp;
          <% if (user) { %>
            <a href="/memes/new">Add Meme</a>&nbsp;&nbsp;
            <a href="/memes/posts">Your Posts</a>&nbsp;&nbsp;
            <a href="/memes/favorites">Favorites</a>&nbsp;&nbsp;
            <a href="/logout">Log Out</a>&nbsp;&nbsp;
          <% } else { %>
            <a href="/auth/google" class="login">LOG IN<img src="https://i.imgur.com/FHjYyi0.png"></a>
          <% } %>
        </span>
    </nav>
    
<h1>Edit Meme</h1>
<br>
<form id="new-edit-form" action="/memes" method="POST">
    <label>Link:</label>
    <br>
    <textarea id="link" placeholder="Direct link to image here..." name="link"></textarea>
    <br>
    <label>Source:</label>
    <select name="source">
        <% validSources.forEach(function(source, idx) { %>
            <option value="<%= source %>" <%= idx === 0 ? 'selected' : ''%>>
                <%= source %>
            </option>
        <% }) %>
    </select>
    <label>Origin Date:</label>
        <input type="date" name="dateOrigin">
    <br>
    <label>Description:</label>
    <br>
    <textarea id="description-comment" placeholder="Tell us about your meme!" name="description"></textarea>
    <br>
    <input type="submit" value="Add Meme">
</form>

<%- include('../partials/footer') %>
