<%- include('../partials/header')%>

<table id="list">
    <thead>
      <tr>
        <th>Meme</th>
        <th>Source</th>
        <th>Found<br>Date</th>
        <th>Description</th>
        <th>Posted by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% memes.forEach(function(m) { %>
        <tr>
          <td><%= m.link %></td>
          <td><%= m.source %></td>
          <td><%= String(m.dateOrigin).substr(3, 13) %></td>
          <td><%= m.description %></td>
          <td><%= m.userName %></td>
          <td><a href="/memes/<%= m._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>

<%- include('../partials/footer')%>