<%- include('../partials/header') %>

<form id="new-form" action="/memes" method="POST">
    <label>Link:</label>
    <textarea name="link"></textarea>
    <label>Source:</label>
    <select name="source">
        <% validSources.forEach(function(source, idx) { %>
            <option value="<%= source %>" <%= idx === 0 ? 'selected' : ''%>>
                <%= source %>
            </option>
        <% }) %>
    </select>
    <label>Origin Date:</label>
        <input type="date" name="dateOrigin">
    <br>
    <label>Description:</label>
    <textarea name="description"></textarea>
    <br>
    <input type="submit" value="Add Meme">
</form>

<%- include('../partials/footer') %>
