<%- include('../partials/header')%>
<body id="listPage">
  <nav>
    <span>
      <a href="/memes">Meme Archive</a>&nbsp;&nbsp;
      <% if (user) { %>
        <a href="/memes/new">Add Meme</a>&nbsp;&nbsp;
        <a href="/memes/favorites">Favorites</a>&nbsp;&nbsp;
        <a href="/logout">Log Out</a>&nbsp;&nbsp;
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </span>
  </nav>
  <br>
  <br>
  <h1>Your Posts</h1>
  <table id="meme-list">
      <thead>
        <tr>
          <th>Meme</th>
          <th>Source</th>
          <th>Found<br>Date</th>
          <th>Posted by</th>
          <th>Additional Info</th>
        </tr>
      </thead>
      <tbody>
        <% memes.forEach(function(m) { %>
          <tr>
            <td><img width="300px" src="<%= m.link %>"></td>
            <td><%= m.source %></td>
            <td><%= String(m.dateOrigin).substr(3, 13) %></td>
            <td><%= m.userName %></td>
            <td><a href="/memes/<%= m._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
        </tbody>
  </table>
  <br>
<%- include('../partials/footer')%>