<%- include('../partials/header')%>

<section id="show page">
    <div>Meme: </div>
    <div><%= meme.link %></div>
    <div>Source: </div>
    <div><%= meme.source %></div>
    <div>Origin Date: </div>
    <div><%= String(meme.dateOrigin).substr(3, 13) %></div>
    <div>Description: </div>
    <div><%= meme.description %></div>
    <div>Posted By:</div>
    <div><%= meme.userName %></div>
    <% if (user && user.equals(meme.user)) { %>
        <div><a href="/memes/<%= meme.id %>/edit">Test</a></div>
    <% } %>
</section>

<% if (user) { %>
<form id="add-comment-form" method="POST" 
    action ="/memes/<%= meme._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <input type="submit" value="Add Comment">
</form>
<% } %>

<% if (meme.comments.length) { %>
    <table>
        <thead>
          <tr>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% let sum = 0; %>
          <% meme.comments.forEach(function(c) { %>
            <% sum += c.rating %>
            <tr>
              <td><%= c.userName %></td>
              <td><%= c.createdAt.toLocaleDateString() %></td>
              <td><%= c.content %></td>
              <td><%= c.rating %></td>
              <td>
              <!-- <% if ( user?._id.equals(c.user) ) { %> -->
              <% if (user && user.equals(meme.user)) { %>
                <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
              <% } %>
                </td>
            </tr>
            <% }); %>
            <tr>
              <td colspan="3"></td>
              <td><%= (sum / meme.comments.length).toFixed(2) %></td>
            </tr>
        </tbody>
      </table>
    <% } else { %>
      <h5>No Comments Yet</h5>
    <% } %>


<%- include('../partials/footer')%>