<%- include('../partials/header')%>
<body>
  <nav>
      <a href="/memes">Meme Archive</a>&nbsp;&nbsp;
      <% if (user) { %>
        <a href="/memes/new">Add Meme</a>&nbsp;&nbsp;
        <a href="/memes/favorites">Favorites</a>&nbsp;&nbsp;
        <a href="/logout">Log Out</a>&nbsp;&nbsp;
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
  </nav>

<section id="show page">
    <div>Meme: </div>
    <div><%= meme.link %></div>
    <div>Source: </div>
    <div><%= meme.source %></div>
    <div>Origin Date: </div>
    <div><%= String(meme.dateOrigin).substr(3, 13) %></div>
    <div>Description: </div>
    <div><%= meme.description %></div>
    <div>Posted By:</div>
    <div><%= meme.userName %></div>
    <% if (user && user.equals(meme.user)) { %>
        <div><a href="/memes/<%= meme.id %>/edit">Edit Meme</a></div>
        <form action="/memes/<%= meme._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Meme</button>
        </form>
    <% } %>
</section>

<% if (user) { %>
  <form id="add-favorite-form" method="POST"
      action ="/memes/<%= meme._id %>/favorites">
        <label for="">Favorite?</label>
        <input type="submit" value="Add Favorite">
  </form>
<% } %>

<br><br>

<% if (user) { %>
  <form id="add-comment-form" method="POST" 
    action ="/memes/<%= meme._id %>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>
<% } %>

<% if (meme.comments.length) { %>
  <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Comment</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% let sum = 0; %>
        <% meme.comments.forEach(function(c) { %>
          <% sum += c.rating %>
          <tr>
            <td><%= c.userName %></td>
            <td><%= c.createdAt.toLocaleDateString() %></td>
            <td><%= c.content %></td>
            <td><%= c.rating %></td>
            <td>
              <% if ( user?._id.equals(c.user) ) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Comment</button>
              </form>
            <% } %>
              </td>
          </tr>
        <% }); %>
          <tr>
            <td colspan="3"></td>
            <td><%= (sum / meme.comments.length).toFixed(2) %></td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer')%>